---
type Props = {
	title?: string
	caption?: string
	captionClass?: string
	offsetCaption?: string
	offsetTitle?: string
}
const { title, caption, captionClass, offsetCaption = '100', offsetTitle = '100' } = Astro.props
---

<div>
	<h6
		class={`delay-[0ms] duration-[400ms] taos:translate-y-[200px] taos:opacity-0 text-2xl pb-4 font-extrabold leading-[1.2] relative mb-[4px] before::content-[''] before:w-[36px] before:h-[5px] before:absolute before:-bottom-0 before:left-0 before:bg-indigo-500 aos-init aos-animate text-indigo-500 ${captionClass}`}
		data-taos-offset={offsetCaption}
	>
		{caption}
	</h6>
	<h2
		class="delay-[300ms] duration-[400ms] taos:translate-y-[200px] taos:opacity-0 text-6xl font-extrabold max-w-[14ch] leading-[1.2]"
		data-taos-offset={offsetTitle}
	>
		{title}
	</h2>
</div>
